.project_card{
    
    min-width: 390px;
    height: 250px;
    margin: 50px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.project_card_false{
    background-color: white;
    min-width: 350px;
    height: 300px;
    margin: 50px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project_card_false span{
    font-weight: bold;
    font-size: 19px;
}


.image{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
  
   
}



